{% load static %}
<!-- Primer Slide -->
<div class="carousel-item active">
    <div class="hero-section hero-slide-1">
        <div class="hero-content">
            <h1>¿Qué es Inacap?</h1>
            <p class="lead mt-3">
                INACAP es el sistema de Educación Superior técnico-profesional más grande de Chile. A través de su Centro de Formación Técnica, Instituto Profesional y la Universidad Tecnológica de Chile, está presente en las 16 regiones del país con 27 sedes, formando a los profesionales que Chile necesita.
            </p>
            <a href="https://portal.inacap.cl" target="_blank" class="btn btn-light mt-3">Conoce Más</a>
        </div>
    </div>
</div>
<!-- Segundo Slide -->
<div class="carousel-item">
    <div class="hero-section hero-slide-2">
        <div class="hero-content">
            <h1>Educación que Transforma</h1>
            <p class="lead mt-3 fst-italic">
                «Potenciamos el talento de nuestros estudiantes y titulados, creando un ecosistema de oportunidades que impulsa el desarrollo profesional y la empleabilidad en todo el país.»
            </p>
            <p class="text-end mt-3">- Inacap</p>
        </div>
    </div>
</div>
<div class="carousel-item">
    <div class="hero-section hero-slide-3">
        <div class="hero-content">
            <h1>Propósito</h1>
            <p class="lead mt-3">
                El Instituto Profesional INACAP, a través del cumplimiento de su Misión, busca formar personas competentes e íntegras que se realicen en el mundo laboral y, de esta forma, contribuir decididamente en la movilidad social y al desarrollo productivo de todo el país.
            </p>
        </div>
    </div>
</div>
<!-- Cuarto Slide -->
<div class="carousel-item">
    <div class="hero-section hero-slide-4">
        <div class="hero-content">
            <h1>Acreditación</h1>
            <p class="lead mt-3">
                Estamos acreditados por 7 años en las áreas de Gestión Institucional y Docencia de Pregrado, y adscritos a Gratuidad. Tenemos una trayectoria de más de cinco décadas formando técnicos y profesionales competentes para el mundo del trabajo, labor desarrollada en forma exitosa en torno al enfoque pedagógico del “Aprender Haciendo”.
            </p>
        </div>
    </div>
</div>